*{
	box-sizing: border-box;
	margin: 0px;
	font-family:sans-serif;
}
.navmenu{
	color:white !important;
	font-size:20px;
	text-shadow:0px 0px 10px black;
	margin-right:40px;
}
.navmenu:hover{
	color:black;
}
.logo{
	color:white;
	font-weight:bolder;
	font-family:cursive;
}
.about_1{
	hight:auto;
	width: auto;
}
.head1{
	text-align: center;
	color:gold;
	font-weight:bolder;
	font-family:arial;
}
.head1:hover{
	text-shadow:0px 0px 9px black;
}
.para{
	text-align: justify;
	padding:8px;
	color:white;
	font-family: cursive;
	margin:15px;
}
.btn1{
	background-color:#644d82;
	color:white;
	margin-left:40px;
 	height:35px;
 	width:30%;
 	margin-top:-30px;
 	border: none;
}
.btn1:hover{
	box-shadow:4px 0px 10px black;
}
.bg{
	height:100% !important;
	width:100% !important;
	background-image:linear-gradient(to right,#6d81a1,#63cfbe,#63b0a4,#63b0a5);
	background-attachment:fixed;
}
.mdiv{
	height: auto;
	width:100%;
}
.address{
	height: auto;
	width: 100%;
	background-color:black;
	margin-top:-20px;
}
.rounded{
	height:250px;
	width: 250px;
}
.head2{
	font-size: 29px;
	color: gold;
}
.img{
	height:200px;
	width: 200px;
}
.margin{
	margin-right:40px;
}
.law_info{
	text-align: center;
	color: white;
	font-size:20px;
}
.four{
	height:auto;
	width:100%;
	background-color: grey;
}
.txt_founder{
	color: white;
	font-weight: bolder;
	text-shadow: 0px 0px 6px blue;
}
.txt_para{
	color: white;
	font-weight:bolder;
}
.pub{
	height:300px;
	width:300px;
	border: 1px solid black;
	padding:5px;
	margin:20px;
}
.subdiv{
	height:auto;
	width:100%;
	background-color: whitesmoke;
}
.lgn{
	height: auto;
	width: auto;
	padding:10px;
	background-color:#9e9a99;
	margin-top:-20px;
}
.head3{
	color: white;
	text-align: center;
}