.navmenu{
	color:white !important;
	font-size:20px;
	text-shadow:0px 0px 10px black;
	margin-right:40px;
}
.navmenu:hover{
	color:black;
}
.logo{
	color:white;
	font-weight:bolder;
	font-family:cursive;
}
.about_1{
	hight:auto;
	width: auto;
/*	background-color:lightgrey;*/
}
.head1{
	text-align: center;
	color:gold;
	font-weight:bolder;
	font-family:arial;
}
.head1:hover{
	text-shadow:0px 0px 9px black;
}
.para{
	text-align: justify;
	padding:8px;
	color:white;
	font-family: cursive;
	margin:15px;
}
.btn1{
	background-color:#644d82;
	color:white;
	margin-left:40px;
 	height:35px;
 	width:30%;
 	margin-top:-30px;
 	border: none;
}
.btn1:hover
{
	box-shadow:4px 0px 10px black;
}
.bg{
	background-image:linear-gradient(to right,#7ea2c4,#8da3c7, #6d81a1,#63cfbe,
		#63b0a4,#65cfbf,#63b0a5);
/*	position: fixed;*/

}
.address{
	height: auto;
	width: 100%;
	background-color:black;
	margin-top:-20px;
}
.rounded{
	height:250px;
	width: 250px;
}
.head2{
	font-size: 29px;
	color: gold;
}
.img{
	height:200px;
	width: 200px;
}
.margin{
	margin-right:40px;

}
.law_info{
	text-align: center;
	color: white;
	font-size:20px;
}
.four{
	height: auto;
	width: 100%;
	background-color: grey;
}
.txt_founder{
	color: white;
	font-weight: bolder;
}
.txt_para{
	color: white;
	font-weight:bolder;
}